@font-face { font-family: "midnight"; src: url('midnight_5/MidNight.otf'); } 

body{
    background-color: thistle;
    }

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
  }

.navbar-nav > li > .dropdown-menu { background-color: thistle;}

#nav-placeholder{
    height: 60px;
}

#index-heading{
   font-family: midnight;
}

.thumbnails{
    width: 750px;
    height: 500px;
    }

.borders{
    border-width: 3px !important;
    border-color: black !important;
}

.resize{
    max-width: 50%;
    height: auto;
}

.big-text{
    font-size: 150%;
}

.very-big-text{
    font-size: 450%;
}