body{
    background-color: thistle;
    }

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
  }

.navbar-nav > li > .dropdown-menu { background-color: thistle;}


.thumbnails{
    width: 750px;
    height: 500px;
    }

.borders{
    border-width: 3px !important;
    border-color: black !important;
}

.resize{
    max-width: 50%;
    height: auto;
}

.big-text{
    font-size: 150%;
}